<!--
/**********************************************************************************************************************
* File name   : WMSLIST004.html
* Page name   : DO수취번호관리
* Description : 물류센터관리 - 기초현황 - DO수취번호관리
* - 
***********************************************************************************************************************
*	Modifiy Date	Auth		    
***********************************************************************************************************************
*	2023-02-14		lsy			    init.
**********************************************************************************************************************/
 -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
	</head>
	
<div th:replace="/fwk/layouts/js.inc.html"></div>
	
<div layout:fragment="content">
	
	<body id=body>
		<div id="wrap">
			<div class="contents">
				<div class="top">
				</div>
				<div class = "cnt_schV">
				</div>
				<div id="gird"> </div>
			</div>
		</div>
	</body>
	
	<script th:inline="javascript">
/*<![CDATA[*/
	
/*]]>*/

	</script>
	
<!-- <div layout:fragment="content"> 끝 -->
</div>

</html>